* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
p {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    width: 100%;
    position: fixed;
    top: 0px;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.header__items {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn+.theme-btn {
    margin-left: 20px;
}

.theme-btn {
    transition: 0.2s linear;
}

.theme-btn:hover {
    transform: scale(1.2);
}

.theme-btn_active {
    transform: scale(1.2);
}

.main {
    padding-top: 60px;
    padding-bottom: 75px;
}

.main__settings {

    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__settings-item+.main__settings-item {
    margin-left: 5px;
}

.settings__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__item {
    margin: 5px;
}

.settings__item+.settings__item {
    padding-left: 10px;
}
.setting__slider {
    height: 18px;
    width: 40px;
    border: 1px solid grey;
    border-radius: 9px;
}
.slider__check {
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #7f48ff;
}
.slider__check_off {
    margin-left: 1px;
    transition: 0.2s linear;
}
.slider__check_on{
    margin-left: 21px;
    transition: 0.2s linear;
}

input {
    margin-right: 5px;
}

.cipher-key {
    width: 300px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.cipher-key:focus,
.cipher-key:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: transparent;
}


.main__content {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

textarea{
    background-color: transparent;
    padding: 5px;
}
button:focus,
textarea:focus{
    outline: none;
}
.main__content-area {

    width: 500px;
    height: 300px;
    resize: none;
    margin-bottom: 10px;
}

.main__textareas-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: inherit;
}

.main__content-cryptooperations {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__content-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 32px;
    transition: 0.2s linear;
}

.main__content-btn:hover {
    transform: scale(1.2);
}

.content-btn__icon {
    width: 20px;
    height: 20px;
    margin: 3px 0;
}

.content-btn__icon_right {
    margin-left: 10px;
}

.content-btn__icon_left {
    margin-right: 10px;
    transform: scale(-1, 1);
}


.main__content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__content-btns {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.textarea-btns {
    margin-top: -22px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;

}

.footer__items {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__item + .footer__item {
    margin-left: 25px;
}

.footer__link {
    width: 30px;
    height: 30px;
    transition: 0.2s linear;
}

.footer__link:hover,
.footer__link:active {
    transform: scale(1.5, 1.5);
}